In [1]:
import pandas as pd
file_path = r"C:\Users\pratheeba sundar\Desktop\projecttt\jewelry.csv"
df = pd.read_csv(file_path)
print("Entire Dataset:")
print(df)

Entire Dataset:
       2018-12-01 11:40:29 UTC  1924719191579951782  1842195256808833386  1  \
0      2018-12-01 17:38:31 UTC  1924899396621697920  1806829193678291446  1
1      2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556  1
2      2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453  1
3      2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865  1
4      2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449  1
...                        ...                  ...                  ... ..
95905  2021-12-01 09:47:37 UTC  2719016587653808559  1515966223597820877  1
95906  2021-12-01 09:50:37 UTC  2719018098886705639  1956663830729720074  1
95907  2021-12-01 09:52:06 UTC  2719018846999544322  1956663848219968336  1
95908  2021-12-01 09:55:35 UTC  2719020596963836492  1835566854106513435  1
95909  2021-12-01 09:59:07 UTC  2719022379232658075  1956663846156370429  1

       1806829201890738522   jewelry.earring             0  561.51  \
0             1.806829e+18               NaN           NaN  212.14
1             1.806829e+18   jewelry.pendant  1.000000e+00   54.66
2             1.806829e+18   jewelry.pendant  0.000000e+00   88.90
3             1.806829e+18  jewelry.necklace  0.000000e+00  417.67
4             1.806829e+18   jewelry.earring  1.000000e+00  102.27
...                    ...               ...           ...     ...
95905                  NaN              0.00  1.515916e+18     NaN
95906         1.806829e+18               NaN  0.000000e+00  229.99
95907         1.806829e+18   jewelry.earring  1.000000e+00  630.00
95908         1.806829e+18   jewelry.earring  0.000000e+00   83.42
95909         1.806829e+18   jewelry.pendant  1.000000e+00   97.12

       1515915625207851155 Unnamed: 9     red  gold   diamond
0             1.515916e+18        NaN  yellow  gold       NaN
1             1.515916e+18          f   white  gold  sapphire
2             1.515916e+18          f     red  gold   diamond
3             1.515916e+18        NaN     red  gold  amethyst
4             1.515916e+18        NaN     red  gold       NaN
...                    ...        ...     ...   ...       ...
95905                  NaN        NaN     NaN   NaN       NaN
95906         1.515916e+18        NaN     red  gold       NaN
95907         1.515916e+18          f   white  gold   diamond
95908         1.515916e+18        NaN   white  gold    fianit
95909         1.515916e+18        NaN     red  gold       NaN

[95910 rows x 13 columns]

In [6]:
import pandas as pd
file_path = r"C:\Users\pratheeba sundar\Desktop\projecttt\jewelry.csv"
df = pd.read_csv(file_path)
new_column_names = ["date", "order_id", "product_id", "quantity", "category_id", 
                    "category_alias", "brand_id", "price", "user_id", 
                    "gender", "color", "material", "stone"]
df.columns = new_column_names
df

,date,order_id,product_id,quantity,category_id,category_alias,brand_id,price,user_id,gender,color,material,stone
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.000000e+00,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.000000e+00,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.000000e+00,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.000000e+00,102.27,1.515916e+18,NaN,red,gold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95905,2021-12-01 09:47:37 UTC,2719016587653808559,1515966223597820877,1,NaN,0.00,1.515916e+18,NaN,NaN,NaN,NaN,NaN,NaN
95906,2021-12-01 09:50:37 UTC,2719018098886705639,1956663830729720074,1,1.806829e+18,NaN,0.000000e+00,229.99,1.515916e+18,NaN,red,gold,NaN
95907,2021-12-01 09:52:06 UTC,2719018846999544322,1956663848219968336,1,1.806829e+18,jewelry.earring,1.000000e+00,630.00,1.515916e+18,f,white,gold,diamond
95908,2021-12-01 09:55:35 UTC,2719020596963836492,1835566854106513435,1,1.806829e+18,jewelry.earring,0.000000e+00,83.42,1.515916e+18,NaN,white,gold,fianit
95909,2021-12-01 09:59:07 UTC,2719022379232658075,1956663846156370429,1,1.806829e+18,jewelry.pendant,1.000000e+00,97.12,1.515916e+18,NaN,red,gold,NaN

In [4]:
import pandas as pd

# Load the data
file_path = r"C:\Users\pratheeba sundar\Desktop\projecttt\jewelry.csv"
df = pd.read_csv(file_path)

# Rename columns as per your requirement
new_column_names = ["date", "order_id", "product_id", "quantity", "category_id", 
                    "category_alias", "brand_id", "price", "user_id", 
                    "gender", "color", "material", "stone"]
df.columns = new_column_names

# Split the 'date' column into 'date' and 'time'
df[['date_part', 'time']] = df['date'].str.split(' ', expand=True, n=1)

# Rename 'date_part' to 'date'
df.rename(columns={'date_part': 'date'}, inplace=True)

# Display the updated DataFrame
print(df.head())

                      date             order_id           product_id  \
0  2018-12-01 17:38:31 UTC  1924899396621697920  1806829193678291446
1  2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449

   quantity   category_id    category_alias  brand_id   price       user_id  \
0         1  1.806829e+18               NaN       NaN  212.14  1.515916e+18
1         1  1.806829e+18   jewelry.pendant       1.0   54.66  1.515916e+18
2         1  1.806829e+18   jewelry.pendant       0.0   88.90  1.515916e+18
3         1  1.806829e+18  jewelry.necklace       0.0  417.67  1.515916e+18
4         1  1.806829e+18   jewelry.earring       1.0  102.27  1.515916e+18

  gender   color material     stone        date          time
0    NaN  yellow     gold       NaN  2018-12-01  17:38:31 UTC
1      f   white     gold  sapphire  2018-12-02  13:53:42 UTC
2      f     red     gold   diamond  2018-12-02  17:44:02 UTC
3    NaN     red     gold  amethyst  2018-12-02  21:30:19 UTC
4    NaN     red     gold       NaN  2018-12-02  22:09:34 UTC

In [6]:
import pandas as pd
file_path = r"C:\Users\pratheeba sundar\Desktop\projecttt\jewelry.csv"
df = pd.read_csv(file_path)
new_column_names = ["date", "order_id", "product_id", "quantity", "category_id", 
                    "category_alias", "brand_id", "price", "user_id", 
                    "gender", "color", "material", "stone"]
df.columns = new_column_names
df[['date', 'time']] = df['date'].str.split(' ', expand=True, n=1)
df['date'] = df['date'].str.split(' ', n=1).str[0]
print(df.head())

         date             order_id           product_id  quantity  \
0  2018-12-01  1924899396621697920  1806829193678291446         1
1  2018-12-02  1925511016616034733  1842214461889315556         1
2  2018-12-02  1925626951238681511  1835566849434059453         1
3  2018-12-02  1925740842841014667  1873936840742928865         1
4  2018-12-02  1925760595336888995  1835566854827934449         1

    category_id    category_alias  brand_id   price       user_id gender  \
0  1.806829e+18               NaN       NaN  212.14  1.515916e+18    NaN
1  1.806829e+18   jewelry.pendant       1.0   54.66  1.515916e+18      f
2  1.806829e+18   jewelry.pendant       0.0   88.90  1.515916e+18      f
3  1.806829e+18  jewelry.necklace       0.0  417.67  1.515916e+18    NaN
4  1.806829e+18   jewelry.earring       1.0  102.27  1.515916e+18    NaN

    color material     stone          time
0  yellow     gold       NaN  17:38:31 UTC
1   white     gold  sapphire  13:53:42 UTC
2     red     gold   diamond  17:44:02 UTC
3     red     gold  amethyst  21:30:19 UTC
4     red     gold       NaN  22:09:34 UTC

In [8]:
df = df[['date', 'time', 'order_id', 'product_id', 'quantity', 'category_id', 
         'category_alias', 'brand_id', 'price', 'user_id', 'gender', 'color', 'material', 'stone']]
print(df.head())

         date          time             order_id           product_id  \
0  2018-12-01  17:38:31 UTC  1924899396621697920  1806829193678291446
1  2018-12-02  13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02  17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02  21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02  22:09:34 UTC  1925760595336888995  1835566854827934449

   quantity   category_id    category_alias  brand_id   price       user_id  \
0         1  1.806829e+18               NaN       NaN  212.14  1.515916e+18
1         1  1.806829e+18   jewelry.pendant       1.0   54.66  1.515916e+18
2         1  1.806829e+18   jewelry.pendant       0.0   88.90  1.515916e+18
3         1  1.806829e+18  jewelry.necklace       0.0  417.67  1.515916e+18
4         1  1.806829e+18   jewelry.earring       1.0  102.27  1.515916e+18

  gender   color material     stone
0    NaN  yellow     gold       NaN
1      f   white     gold  sapphire
2      f     red     gold   diamond
3    NaN     red     gold  amethyst
4    NaN     red     gold       NaN

In [15]:
# Split 'category_alias' into 'type' and 'category_alias'
df[['type', 'category_alias']] = df['category_alias'].str.split('.', expand=True)

# Display the updated DataFrame
print(df.head())

         date          time             order_id           product_id  \
0  2018-12-01  17:38:31 UTC  1924899396621697920  1806829193678291446
1  2018-12-02  13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02  17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02  21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02  22:09:34 UTC  1925760595336888995  1835566854827934449

   quantity   category_id category_alias  brand_id   price       user_id  \
0         1  1.806829e+18            NaN       NaN  212.14  1.515916e+18
1         1  1.806829e+18        pendant       1.0   54.66  1.515916e+18
2         1  1.806829e+18        pendant       0.0   88.90  1.515916e+18
3         1  1.806829e+18       necklace       0.0  417.67  1.515916e+18
4         1  1.806829e+18        earring       1.0  102.27  1.515916e+18

  gender   color material     stone     type
0    NaN  yellow     gold       NaN      NaN
1      f   white     gold  sapphire  jewelry
2      f     red     gold   diamond  jewelry
3    NaN     red     gold  amethyst  jewelry
4    NaN     red     gold       NaN  jewelry

In [16]:
df.head()

,date,time,order_id,product_id,quantity,category_id,category_alias,brand_id,price,user_id,gender,color,material,stone,type
0,2018-12-01,17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN,NaN
1,2018-12-02,13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire,jewelry
2,2018-12-02,17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond,jewelry
3,2018-12-02,21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst,jewelry
4,2018-12-02,22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN,jewelry

In [19]:
# Reorder the columns to place 'type' next to 'category_alias'
df_cleaned = df_cleaned[['date', 'time', 'order_id', 'product_id', 'quantity', 'category_id', 
                         'category_alias', 'type', 'brand_id', 'price', 'user_id', 'gender', 
                         'color', 'material', 'stone']]

# Display the updated DataFrame
print(df_cleaned.head())

         date          time             order_id           product_id  \
1  2018-12-02  13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02  17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02  21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02  22:09:34 UTC  1925760595336888995  1835566854827934449
5  2018-12-02  22:09:34 UTC  1925760595336888995  1600021442638905547

   quantity   category_id category_alias     type  brand_id   price  \
1         1  1.806829e+18        pendant  jewelry       1.0   54.66
2         1  1.806829e+18        pendant  jewelry       0.0   88.90
3         1  1.806829e+18       necklace  jewelry       0.0  417.67
4         1  1.806829e+18        earring  jewelry       1.0  102.27
5         1  1.806829e+18        earring  jewelry       0.0  150.55

        user_id gender  color material     stone
1  1.515916e+18      f  white     gold  sapphire
2  1.515916e+18      f    red     gold   diamond
3  1.515916e+18    NaN    red     gold  amethyst
4  1.515916e+18    NaN    red     gold       NaN
5  1.515916e+18    NaN    red     gold   diamond

In [20]:
import pandas as pd

# Assuming the DataFrame 'df' is already created
valid_categories = ["bracelet", "rings", "brooch", "necklace", "pendant", 
                    "clocks", "earring", "stud", "souvenir"]

# Filter the rows where 'category_alias' is one of the valid categories
df_cleaned = df[df['category_alias'].isin(valid_categories)]

# Display the cleaned dataset
print(df_cleaned.head())

         date          time             order_id           product_id  \
1  2018-12-02  13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02  17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02  21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02  22:09:34 UTC  1925760595336888995  1835566854827934449
5  2018-12-02  22:09:34 UTC  1925760595336888995  1600021442638905547

   quantity   category_id category_alias  brand_id   price       user_id  \
1         1  1.806829e+18        pendant       1.0   54.66  1.515916e+18
2         1  1.806829e+18        pendant       0.0   88.90  1.515916e+18
3         1  1.806829e+18       necklace       0.0  417.67  1.515916e+18
4         1  1.806829e+18        earring       1.0  102.27  1.515916e+18
5         1  1.806829e+18        earring       0.0  150.55  1.515916e+18

  gender  color material     stone     type
1      f  white     gold  sapphire  jewelry
2      f    red     gold   diamond  jewelry
3    NaN    red     gold  amethyst  jewelry
4    NaN    red     gold       NaN  jewelry
5    NaN    red     gold   diamond  jewelry

In [21]:
df.head()

,date,time,order_id,product_id,quantity,category_id,category_alias,brand_id,price,user_id,gender,color,material,stone,type
0,2018-12-01,17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN,NaN
1,2018-12-02,13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire,jewelry
2,2018-12-02,17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond,jewelry
3,2018-12-02,21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst,jewelry
4,2018-12-02,22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN,jewelry